<div class="large-3 columns">
	<div class="panel">
		<div class="message-content"><%= message.content %></div>
		<ul class="message-actions">
			<li>Posted <%= time_ago_in_words(message.created_at) %></li>
			<li>Posted by <%= link_to message.user.name, user_path(message.user) %></li>
			<li><%= button_to 'Delete', {:controller => :messages,
      			:action => 'destroy', :id => message.id }, :method => :delete %></li>
		</ul>
	</div>
</div>