<% if session[:user] %>
	<%	render "messages/form" %>
<% elsif false %>
	<div class="center">
      <div class="hero-unit">
        <h1 class="text-right">alooksie</h1>
        <p class="text-right">connect around you</p>
        <p>we are a mobile and web platform that:</p>
        <ul>
          <li>allows you to connect to the people around you</li>
          <li>lets you take advantage of local events</li>
          <li>an entrepreneurial venture at western u</li>
        </ul>
        <p>sign-up below for our beta launching this fall</p>
      </div>
	</div>
<% end %>
<div class="messages">
  <% render @messages %>
</div>