[submodule "app/assets/javascript/external/moment"]
	path = app/assets/javascript/external/moment
	url = git://github.com/moment/moment.git
[submodule "app/assets/javascripts/external/moment"]
	path = app/assets/javascripts/external/moment
	url = git://github.com/moment/moment.git
