<h2><%= @user.name %></h2>
<p><a href="mailto:<%= @user.email %>"><%= @user.email %></a></p>
<div>
	<h3>Messages by this user</h3>
	<% if @messages.length == 0 %>
	<div class="alert-box alert-info">No messages by this user yet!</div>
	<% else %>
	<div class="row">
		<%= render @user.messages %>
	</div>
	<% end %>
</div>