<body class="home page page-id-150 page-template page-template-the-onepage-php">
	
	<header class="">
        <div class="top_float"></div>
        <div class="clear"></div>
        <div class="menu-holder non-sticky-menu">
            
            <nav id="menu" class="nav">                 
                <ul>
<li>
						              <a href="#home">
						                  <span class="icon">
						                    <i aria-hidden="true" class="menu-icon" data-class="splash-icon-home" data-icon="\e002"></i>
						                  </span>
						                  <span>Home</span>
						              </a>
						            </li><li>
						              <a href="#about">
						                  <span class="icon">
						                    <i aria-hidden="true" class="menu-icon" data-class="splash-icon-about" data-icon="\e0c8"></i>
						                  </span>
						                  <span>the motivation</span>
						              </a>
						            </li><li>
						              <a href="#services">
						                  <span class="icon">
						                    <i aria-hidden="true" class="menu-icon" data-class="splash-icon-services" data-icon="\e09e"></i>
						                  </span>
						                  <span>What we do</span>
						              </a>
						            </li><li>
						              <a href="#portfolio">
						                  <span class="icon">
						                    <i aria-hidden="true" class="menu-icon" data-class="splash-icon-portfolio" data-icon="\e00d"></i>
						                  </span>
						                  <span>what you do</span>
						              </a>
						            </li><li>
						              <a href="#blog">
						                  <span class="icon">
						                    <i aria-hidden="true" class="menu-icon" data-class="splash-icon-blog" data-icon="\e000"></i>
						                  </span>
						                  <span>Blogs & Stuff</span>
						              </a>
						            </li><li>
						              <a href="#contact">
						                  <span class="icon">
						                    <i aria-hidden="true" class="menu-icon" data-class="splash-icon-contact" data-icon="\e1c9"></i>
						                  </span>
						                  <span>Contact</span>
						              </a>
						            </li></ul>
            </nav>
        </div>
        <nav class="sticky-nav">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <div class="logo-holder">
                                    <a id="logo" href="alooksie.jpg"><img src="alooksie.jpg" alt="alooksie" title="alooksie" width="50" height="50"/></a>
                                </div>
                                <ul class="sticky-menu" id="sticky-menu">
<li><a href="#home" class="is_onepage">Home</a></li>
<li><a href="#about" class="is_onepage">the motivation</a></li>
<li><a href="#services" class="is_onepage">what we do</a></li>
<li><a href="#portfolio" class="is_onepage">what you do</a></li>
<li><a href="#blog" class="is_onepage">Blogs & Stuff</a></li>
<li><a href="#" class="not_onepage">Features</a><ul>
<li><a href="http://designova.net/themes/wordpress/prisma/index.php/suspendisse-ut-quam-id-quam-vehicula-sollicitudin" class="not_onepage">Single Post</a><li>
<li><a href="http://designova.net/themes/wordpress/prisma/index.php/error" class="not_onepage">404 Error Page</a><li>
<li><a href="http://designova.net/themes/wordpress/prisma/index.php/sample-page" class="not_onepage">Stand Alone Page</a><li>
</ul>
</li>
<li><a href="#contact" class="is_onepage">Contact</a></li>
</ul>
                                <select id="tinynav" class="tinynav">
                                    <option value="">Menu</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>    <div id="home"  class="page-section remove-pad-top">
        <section id="splash-intro">
            <div class="slider-overlay"></div>
            <div class="container-fluid pad-top">
      <div class="row-fluid">
        <div class="container">
          <div class="row">
            <div class="span12 align-center">
             <img class="alignnone size-full wp-image-16" alt="1" src="alooksie-prisma.jpg" width="1150" height="575" />
           </div>
          </div>
        </div>
      </div>
    </div>
        </section>
    </div>
  <p><div class="container-fluid ">
      <div class="row-fluid">
        <div class="container">
          <div class="row">
            <ul id="sti-menu" class="sti-menu row-fluid "><li data-hovercolor="" class="span3">
              <a href="#">
                  <h2 data-type="mText" class="sti-item">Analyze</h2>
                  <h3 data-type="sText" class="sti-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                  <div data-type="icon" class="sti-icon sti-item" data-class="sti-icon-analyze" data-icon="\e07b"></div>
              </a>
            </li><li data-hovercolor="" class="span3">
              <a href="#">
                  <h2 data-type="mText" class="sti-item">Design</h2>
                  <h3 data-type="sText" class="sti-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                  <div data-type="icon" class="sti-icon sti-item" data-class="sti-icon-design" data-icon="\e0c7"></div>
              </a>
            </li><li data-hovercolor="" class="span3">
              <a href="#">
                  <h2 data-type="mText" class="sti-item">Develop</h2>
                  <h3 data-type="sText" class="sti-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                  <div data-type="icon" class="sti-icon sti-item" data-class="sti-icon-develop" data-icon="\e0a4"></div>
              </a>
            </li><li data-hovercolor="" class="span3">
              <a href="#">
                  <h2 data-type="mText" class="sti-item">Deploy</h2>
                  <h3 data-type="sText" class="sti-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                  <div data-type="icon" class="sti-icon sti-item" data-class="sti-icon-deploy" data-icon="\e0aa"></div>
              </a>
            </li></ul>
          </div>
        </div>
      </div>
    </div><div class="container-fluid highlight-section pad-top-extra pad-bottom-extra">
      <div class="row-fluid">
        <div class="container">
          <div class="row">
            <div class="row-fluid "><div class="section-heading ">We Love Numbers</div></div><div class="row-fluid align-center"><div class="span3 stat">
              <div class="stat-img">
                  <img src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/stat_01.png" alt="Prisma Creative" title="Prisma Creative /">
              </div>
              <div class="stat-number">1756</div>
              <div class="stat-des">Cups Of Coffee</div>
          </div><div class="span3 stat">
              <div class="stat-img">
                  <img src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/stat_02.png" alt="Prisma Creative" title="Prisma Creative /">
              </div>
              <div class="stat-number">840</div>
              <div class="stat-des">Tweets Posted</div>
          </div><div class="span3 stat">
              <div class="stat-img">
                  <img src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/stat_03.png" alt="Prisma Creative" title="Prisma Creative /">
              </div>
              <div class="stat-number">6.5 M</div>
              <div class="stat-des">Lines Of Codes</div>
          </div><div class="span3 stat">
              <div class="stat-img">
                  <img src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/stat_04.png" alt="Prisma Creative" title="Prisma Creative /">
              </div>
              <div class="stat-number">50+</div>
              <div class="stat-des">Projects Done</div>
          </div></div>
          </div>
        </div>
      </div>
    </div></p>
    <section id="about" class="page-section">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="container">
            <div class="row">
                <div class="span12 page-heading">
                    <div class="section-heading"><span>The Motivation</span></div>
                </div>
            </div>
            <div class="row">
                <div class="span12 promo-txt">
                    <p>"if facebook & foursquare had a baby..."</p>
                    <span class="bottom-arrow"></span>
                </div>
            </div>
          </div>
        </div>
      </div>
      <p><div class="container-fluid add-top-half">
      <div class="row-fluid">
        <div class="container">
          <div class="row">
            <div class="span6 ">
             <div class="row-fluid "></p>
<h3>the problem</h3>
<p></div><div class="row-fluid ">these are some words</div>
           </div><div class="span6 ">
             <div class="row-fluid "></p>
<h3>the solution</h3>
<p></div><div class="row-fluid ">create a mobile social network.</div>
           </div>
          </div>
        </div>
      </div>
    </div><div class="container-fluid ">
      <div class="row-fluid">
        <div class="container">
          <div class="row">
            <div class="row-fluid skills ">
              <div class="span12">
                <div class="chart">
                <div class="percentage" data-percent="55" data-bar-color="#673653"><span>55</span>%</div>
                <h4>HTML5</h4>
            </div><div class="chart">
                <div class="percentage" data-percent="65" data-bar-color="#673653"><span>65</span>%</div>
                <h4>CSS3</h4>
            </div><div class="chart">
                <div class="percentage" data-percent="92" data-bar-color="#673653"><span>92</span>%</div>
                <h4>Jquery</h4>
            </div><div class="chart">
                <div class="percentage" data-percent="84" data-bar-color="#673653"><span>84</span>%</div>
                <h4>Wordpress</h4>
            </div>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div><div class="container-fluid add-top">
      <div class="row-fluid">
        <div class="container">
          <div class="row">
            <div class="span12 ">
             <div class="section-heading ">People</div><div class="sub-title ">PERSONNEL AND BIOS</div>
           </div>
          </div>
        </div>
      </div>
    </div><div class="container-fluid ">
      <div class="row-fluid">
        <div class="container">
          <div class="row">
            <div class="span12 ">
             <div class="team "><ul><li>    
              <a href="http://designova.net/">
              <div class="hexagon pic" style="background: url(http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/staff01.png) no-repeat center center;">
                  <div class="title">John Doe<i>Jr. Developer</i></div>
                  <span class="top"></span>
                  <span class="bottom"></span>
                  <div class="overlay"></div>
              </div>
              </a>
            </li><li>    
              <a href="http://designova.net/">
              <div class="hexagon pic" style="background: url(http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/staff02.png) no-repeat center center;">
                  <div class="title">Ben Parker<i>Jr. Developer</i></div>
                  <span class="top"></span>
                  <span class="bottom"></span>
                  <div class="overlay"></div>
              </div>
              </a>
            </li><li>    
              <a href="http://designova.net/">
              <div class="hexagon pic" style="background: url(http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/staff03.png) no-repeat center center;">
                  <div class="title">Karen Hasnjer<i>Jr. Developer</i></div>
                  <span class="top"></span>
                  <span class="bottom"></span>
                  <div class="overlay"></div>
              </div>
              </a>
            </li><li>    
              <a href="http://designova.net/">
              <div class="hexagon pic" style="background: url(http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/staff04.png) no-repeat center center;">
                  <div class="title">Robert Widock<i>Jr. Developer</i></div>
                  <span class="top"></span>
                  <span class="bottom"></span>
                  <div class="overlay"></div>
              </div>
              </a>
            </li><li>    
              <a href="http://designova.net/">
              <div class="hexagon pic" style="background: url(http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/staff05.jpg) no-repeat center center;">
                  <div class="title">Alisha Carter<i>UI Designer</i></div>
                  <span class="top"></span>
                  <span class="bottom"></span>
                  <div class="overlay"></div>
              </div>
              </a>
            </li><li>    
              <a href="http://designova.net/">
              <div class="hexagon pic" style="background: url(http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/staff06.jpg) no-repeat center center;">
                  <div class="title">Ben Fogarty<i>UI Designer</i></div>
                  <span class="top"></span>
                  <span class="bottom"></span>
                  <div class="overlay"></div>
              </div>
              </a>
            </li><li>    
              <a href="http://designova.net/">
              <div class="hexagon pic" style="background: url(http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/staff07.jpg) no-repeat center center;">
                  <div class="title">Chris Jones<i>UI Designer</i></div>
                  <span class="top"></span>
                  <span class="bottom"></span>
                  <div class="overlay"></div>
              </div>
              </a>
            </li><li>    
              <a href="http://designova.net/">
              <div class="hexagon pic" style="background: url(http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/staff08.jpg) no-repeat center center;">
                  <div class="title">Pamela Winger<i>Project Lead</i></div>
                  <span class="top"></span>
                  <span class="bottom"></span>
                  <div class="overlay"></div>
              </div>
              </a>
            </li><li>    
              <a href="http://designova.net/">
              <div class="hexagon pic" style="background: url(http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/staff09.jpg) no-repeat center center;">
                  <div class="title">Zeke Howard<i>Project Lead</i></div>
                  <span class="top"></span>
                  <span class="bottom"></span>
                  <div class="overlay"></div>
              </div>
              </a>
            </li><li>    
              <a href="http://designova.net/">
              <div class="hexagon pic" style="background: url(http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/staff10.jpg) no-repeat center center;">
                  <div class="title">Lance Dorgan<i>Founder / CEO</i></div>
                  <span class="top"></span>
                  <span class="bottom"></span>
                  <div class="overlay"></div>
              </div>
              </a>
            </li></ul></div>
           </div>
          </div>
        </div>
      </div>
    </div><div class="container-fluid highlight-section pad-top-extra pad-bottom-extra add-top-half">
      <div class="row-fluid">
        <div class="container">
          <div class="row">
            <div class="row-fluid "><div class="section-heading ">What They Say</div><div class="sub-title ">Testimonials</div></div><div class="row-fluid "><div class="span4 ">
             <div class="testimonial">
            <div class="client-img">
                <img src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/01.png" alt="Prisma Creative" title="Prisma Creative "/>
            </div>
            <div class="clear"></div>
            <p class="testimonial-txt">Vodio dignissimos ducimus qui blanditiis praes voluptatum deleniti atque corrupti quos quas molestias excepturi sint occaecati cupiditate.</p>
            <div class="clear"></div>
            <div class="client-name">AMANDA CYRUS</div>
            <div class="clear"></div>
            <div class="company">Awesomeness LLC, Florida</div>
          </div>
           </div><div class="span4 ">
             <div class="testimonial">
            <div class="client-img">
                <img src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/02.png" alt="Prisma Creative" title="Prisma Creative "/>
            </div>
            <div class="clear"></div>
            <p class="testimonial-txt">Vodio dignissimos ducimus qui blanditiis praes voluptatum deleniti atque corrupti quos quas molestias excepturi sint occaecati cupiditate.</p>
            <div class="clear"></div>
            <div class="client-name">ROGER MIGUEL</div>
            <div class="clear"></div>
            <div class="company">Awesomeness LLC, Florida</div>
          </div>
           </div><div class="span4 ">
             <div class="testimonial">
            <div class="client-img">
                <img src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/03.png" alt="Prisma Creative" title="Prisma Creative "/>
            </div>
            <div class="clear"></div>
            <p class="testimonial-txt">Vodio dignissimos ducimus qui blanditiis praes voluptatum deleniti atque corrupti quos quas molestias excepturi sint occaecati cupiditate.</p>
            <div class="clear"></div>
            <div class="client-name">ELISHA CANTER</div>
            <div class="clear"></div>
            <div class="company">Awesomeness LLC, Florida</div>
          </div>
           </div></div>
          </div>
        </div>
      </div>
    </div></p>
    </section>
    <div class="clear"></div>
      <section id="services" class="page-section">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="container">
            <div class="row">
                <div class="span12 page-heading">
                    <div class="section-heading"><span>what we do</span></div>
                </div>
            </div>
            <div class="row">
                <div class="span12 promo-txt">
                    <p>"geo social networking that DOESN'T suck..."</p>
                    <span class="bottom-arrow"></span>
                </div>
            </div>
          </div>
        </div>
      </div>
      <p><ul class="cbp-ig-grid "><li>
              <a href="#">
                  <span class="cbp-ig-icon" data-class="cbp-ig-icon-branding" data-icon="\e01a"></span>
                  <h3 class="cbp-ig-title">Branding</h3>
                  <span class="cbp-ig-category">Mauris facilisis enim purus, varius ultrices massa placerat sit amet. Suspendisse eu luctus tellus pellentesque tempus bibendum metus.</span>
              </a>
          </li><li>
              <a href="#">
                  <span class="cbp-ig-icon" data-class="cbp-ig-icon-photography" data-icon="\e00e"></span>
                  <h3 class="cbp-ig-title">Photography</h3>
                  <span class="cbp-ig-category">Mauris facilisis enim purus, varius ultrices massa placerat sit amet. Suspendisse eu luctus tellus pellentesque tempus bibendum metus.</span>
              </a>
          </li><li>
              <a href="#">
                  <span class="cbp-ig-icon" data-class="cbp-ig-icon-consultation" data-icon="\e073"></span>
                  <h3 class="cbp-ig-title">Consultation</h3>
                  <span class="cbp-ig-category">Mauris facilisis enim purus, varius ultrices massa placerat sit amet. Suspendisse eu luctus tellus pellentesque tempus bibendum metus.</span>
              </a>
          </li><li>
              <a href="#">
                  <span class="cbp-ig-icon" data-class="cbp-ig-icon-android" data-icon="\e197"></span>
                  <h3 class="cbp-ig-title">Android</h3>
                  <span class="cbp-ig-category">Mauris facilisis enim purus, varius ultrices massa placerat sit amet. Suspendisse eu luctus tellus pellentesque tempus bibendum metus.</span>
              </a>
          </li><li>
              <a href="#">
                  <span class="cbp-ig-icon" data-class="cbp-ig-icon-ios" data-icon="\e195"></span>
                  <h3 class="cbp-ig-title">iOS</h3>
                  <span class="cbp-ig-category">Mauris facilisis enim purus, varius ultrices massa placerat sit amet. Suspendisse eu luctus tellus pellentesque tempus bibendum metus.</span>
              </a>
          </li><li>
              <a href="#">
                  <span class="cbp-ig-icon" data-class="cbp-ig-icon-html5" data-icon="\e1b9"></span>
                  h3 class="cbp-ig-title">HTML5</h3>
                  <span class="cbp-ig-category">Mauris facilisis enim purus, varius ultrices massa placerat sit amet. Suspendisse eu luctus tellus pellentesque tempus bibendum metus.</span>
              </a>
          </li></ul><div class="container-fluid highlight-section pad-top-extra pad-bottom-extra">
      <div class="row-fluid">
        <div class="container">
          <div class="row">
            <div class="row-fluid align-center"><div class="section-heading ">Our Clients</div><div class="sub-title ">Clients</div></div><div class="row-fluid "><div class="span2 ">
             <img src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/011.png" alt="01" width="255" height="255" class="aligncenter size-full wp-image-56" />
           </div><div class="span2 ">
             <img src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/021.png" alt="02" width="255" height="255" class="aligncenter size-full wp-image-57" />
           </div><div class="span2 ">
             <img src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/031.png" alt="03" width="255" height="255" class="aligncenter size-full wp-image-58" />
           </div><div class="span2 ">
             <img src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/04.png" alt="04" width="255" height="255" class="aligncenter size-full wp-image-59" />
           </div><div class="span2 ">
             <img src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/05.png" alt="05" width="255" height="255" class="aligncenter size-full wp-image-60" />
           </div><div class="span2 ">
             <img src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/06.png" alt="06" width="255" height="255" class="aligncenter size-full wp-image-61" />
           </div></div>
          </div>
        </div>
      </div>
    </div></p>
    </section>
    <div class="clear"></div>
      <section id="portfolio" class="page-section">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="container">
            <div class="row">
                <div class="span12 page-heading">
                    <div class="section-heading"><span>what you do</span></div>
                </div>
            </div>
            <div class="row">
                <div class="span12 promo-txt">
                    <p>"building mobile identities & communities..."</p>
                    <span class="bottom-arrow"></span>
                </div>
            </div>
            <div class="row">
                <div class="span12 portfolio-filters" id="filters">
                    <a href="#filter" data-option-value="all" class="button active">All</a>
                    <a href="#filter" data-option-value="branding"  class="button">Branding</a><a href="#filter" data-option-value="digital"  class="button">Digital</a><a href="#filter" data-option-value="ecommerce"  class="button">Ecommerce</a><a href="#filter" data-option-value="print"  class="button">Print</a><a href="#filter" data-option-value="web"  class="button">Web</a>                </div>
            </div>
          </div>
        </div>
      </div>
              <ul class="cbp-rfgrid filter-grid">
                    <li class="all  ecommerce">
              <div class="project-overlay"></div>
              <div>
                  <img width="340" height="486" src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port01.png" class="attachment-portfolio_thumb wp-post-image" alt="port01" />                  <div>
                      <h3>Convallis Lacinia</h3>
                      <p>Mauris facilisis enim purus, varius ultrices massa placerat sit amet. Suspendisse eu luctus tellus pellentesque tempus bibendum metus.</p>
                      <a href="#" class="button-white">Details</a>
                      <a href="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port01.png" class="button-white fancybox" title="Convallis Lacinia">Zoom</a>
                  </div>
              </div>
          </li>
                    <li class="all  branding print">
              <div class="project-overlay"></div>
              <div>
                  <img width="340" height="486" src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port02.png" class="attachment-portfolio_thumb wp-post-image" alt="port02" />                  <div>
                      <h3>Vestibulum tellus</h3>
                      <p>Mauris facilisis enim purus, varius ultrices massa placerat sit amet. Suspendisse eu luctus tellus pellentesque tempus bibendum metus.</p>
                      <a href="#" class="button-white">Details</a>
                      <a href="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port02.png" class="button-white fancybox" title="Vestibulum tellus">Zoom</a>
                  </div>
              </div>
          </li>
                    <li class="all  web">
              <div class="project-overlay"></div>
              <div>
                  <img width="340" height="486" src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port03.png" class="attachment-portfolio_thumb wp-post-image" alt="port03" />                  <div>
                      <h3>Nam at turpis</h3>
                      <p>Mauris facilisis enim purus, varius ultrices massa placerat sit amet. Suspendisse eu luctus tellus pellentesque tempus bibendum metus.</p>
                      <a href="#" class="button-white">Details</a>
                      <a href="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port03.png" class="button-white fancybox" title="Nam at turpis">Zoom</a>
                  </div>
              </div>
          </li>
                    <li class="all  print">
              <div class="project-overlay"></div>
              <div>
                  <img width="340" height="486" src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port04.png" class="attachment-portfolio_thumb wp-post-image" alt="port04" />                  <div>
                      <h3>Morbi risus lorem</h3>
                      <p>Mauris facilisis enim purus, varius ultrices massa placerat sit amet. Suspendisse eu luctus tellus pellentesque tempus bibendum metus.</p>
                      <a href="#" class="button-white">Details</a>
                      <a href="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port04.png" class="button-white fancybox" title="Morbi risus lorem">Zoom</a>
                  </div>
              </div>
          </li>
                    <li class="all  ecommerce">
              <div class="project-overlay"></div>
              <div>
                  <img width="340" height="486" src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port05.png" class="attachment-portfolio_thumb wp-post-image" alt="port05" />                  <div>
                      <h3>Nulla vitae dui</h3>
                      <p>Mauris facilisis enim purus, varius ultrices massa placerat sit amet. Suspendisse eu luctus tellus pellentesque tempus bibendum metus.</p>
                      <a href="#" class="button-white">Details</a>
                      <a href="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port05.png" class="button-white fancybox" title="Nulla vitae dui">Zoom</a>
                  </div>
              </div>
          </li>
                    <li class="all  digital">
              <div class="project-overlay"></div>
              <div>
                  <img width="340" height="486" src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port06.png" class="attachment-portfolio_thumb wp-post-image" alt="port06" />                  <div>
                      <h3>Mauris dignissim</h3>
                      <p>Mauris facilisis enim purus, varius ultrices massa placerat sit amet. Suspendisse eu luctus tellus pellentesque tempus bibendum metus.</p>
                      <a href="#" class="button-white">Details</a>
                      <a href="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port06.png" class="button-white fancybox" title="Mauris dignissim">Zoom</a>
                  </div>
              </div>
          </li>
                    <li class="all  branding">
              <div class="project-overlay"></div>
              <div>
                  <img width="340" height="486" src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port07.png" class="attachment-portfolio_thumb wp-post-image" alt="port07" />                  <div>
                      <h3>Etiam eget dictum</h3>
                      <p>Mauris facilisis enim purus, varius ultrices massa placerat sit amet. Suspendisse eu luctus tellus pellentesque tempus bibendum metus.</p>
                      <a href="#" class="button-white">Details</a>
                      <a href="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port07.png" class="button-white fancybox" title="Etiam eget dictum">Zoom</a>
                  </div>
              </div>
          </li>
                    <li class="all  web">
              <div class="project-overlay"></div>
              <div>
                  <img width="340" height="486" src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port08.png" class="attachment-portfolio_thumb wp-post-image" alt="port08" />                  <div>
                      <h3>Aliquam massa</h3>
                      <p>Mauris facilisis enim purus, varius ultrices massa placerat sit amet. Suspendisse eu luctus tellus pellentesque tempus bibendum metus.</p>
                      <a href="#" class="button-white">Details</a>
                      <a href="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port08.png" class="button-white fancybox" title="Aliquam massa">Zoom</a>
                  </div>
              </div>
          </li>
                    <li class="all  print">
              <div class="project-overlay"></div>
              <div>
                  <img width="340" height="486" src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port09.png" class="attachment-portfolio_thumb wp-post-image" alt="port09" />                  <div>
                      <h3>Pellentes habitant</h3>
                      <p>Mauris facilisis enim purus, varius ultrices massa placerat sit amet. Suspendisse eu luctus tellus pellentesque tempus bibendum metus.</p>
                      <a href="#" class="button-white">Details</a>
                      <a href="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port09.png" class="button-white fancybox" title="Pellentes habitant">Zoom</a>
                  </div>
              </div>
          </li>
                    <li class="all  ecommerce">
              <div class="project-overlay"></div>
              <div>
                  <img width="340" height="486" src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port10.png" class="attachment-portfolio_thumb wp-post-image" alt="port10" />                  <div>
                      <h3>Vivamus porttitor</h3>
                      <p>Mauris facilisis enim purus, varius ultrices massa placerat sit amet. Suspendisse eu luctus tellus pellentesque tempus bibendum metus.</p>
                      <a href="#" class="button-white">Details</a>
                      <a href="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port10.png" class="button-white fancybox" title="Vivamus porttitor">Zoom</a>
                  </div>
              </div>
          </li>
                    <li class="all  digital">
              <div class="project-overlay"></div>
              <div>
                  <img width="340" height="486" src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port11.png" class="attachment-portfolio_thumb wp-post-image" alt="port11" />                  <div>
                      <h3>Sed blandit arcu</h3>
                      <p>Mauris facilisis enim purus, varius ultrices massa placerat sit amet. Suspendisse eu luctus tellus pellentesque tempus bibendum metus.</p>
                      <a href="#" class="button-white">Details</a>
                      <a href="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port11.png" class="button-white fancybox" title="Sed blandit arcu">Zoom</a>
                  </div>
              </div>
          </li>
                    <li class="all  branding">
              <div class="project-overlay"></div>
              <div>
                  <img width="340" height="486" src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port12.png" class="attachment-portfolio_thumb wp-post-image" alt="port12" />                  <div>
                      <h3>Nam ac lacus eu</h3>
                      <p>Mauris facilisis enim purus, varius ultrices massa placerat sit amet. Suspendisse eu luctus tellus pellentesque tempus bibendum metus.</p>
                      <a href="#" class="button-white">Details</a>
                      <a href="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port12.png" class="button-white fancybox" title="Nam ac lacus eu">Zoom</a>
                  </div>
              </div>
          </li>
                    <li class="all  web">
              <div class="project-overlay"></div>
              <div>
                  <img width="340" height="486" src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port13.png" class="attachment-portfolio_thumb wp-post-image" alt="port13" />                  <div>
                      <h3>Magna sodales</h3>
                      <p>Mauris facilisis enim purus, varius ultrices massa placerat sit amet. Suspendisse eu luctus tellus pellentesque tempus bibendum metus.</p>
                      <a href="#" class="button-white">Details</a>
                      <a href="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port13.png" class="button-white fancybox" title="Magna sodales">Zoom</a>
                  </div>
              </div>
          </li>
                    <li class="all  ecommerce web">
              <div class="project-overlay"></div>
              <div>
                  <img width="340" height="486" src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port14.png" class="attachment-portfolio_thumb wp-post-image" alt="port14" />                  <div>
                      <h3>Praesent tristique</h3>
                      <p>Mauris facilisis enim purus, varius ultrices massa placerat sit amet. Suspendisse eu luctus tellus pellentesque tempus bibendum metus.</p>
                      <a href="#" class="button-white">Details</a>
                      <a href="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port14.png" class="button-white fancybox" title="Praesent tristique">Zoom</a>
                  </div>
              </div>
          </li>
                    <li class="all  digital print">
              <div class="project-overlay"></div>
              <div>
                  <img width="340" height="486" src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port15.png" class="attachment-portfolio_thumb wp-post-image" alt="port15" />                  <div>
                      <h3>Commodo lectus</h3>
                      <p>Mauris facilisis enim purus, varius ultrices massa placerat sit amet. Suspendisse eu luctus tellus pellentesque tempus bibendum metus.</p>
                      <a href="#" class="button-white">Details</a>
                      <a href="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port15.png" class="button-white fancybox" title="Commodo lectus">Zoom</a>
                  </div>
              </div>
          </li>
                    <li class="all  branding ecommerce">
              <div class="project-overlay"></div>
              <div>
                  <img width="340" height="486" src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port16.png" class="attachment-portfolio_thumb wp-post-image" alt="port16" />                  <div>
                      <h3>Integer auctor</h3>
                      <p>Mauris facilisis enim purus, varius ultrices massa placerat sit amet. Suspendisse eu luctus tellus pellentesque tempus bibendum metus.</p>
                      <a href="#" class="button-white">Details</a>
                      <a href="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/port16.png" class="button-white fancybox" title="Integer auctor">Zoom</a>
                  </div>
              </div>
          </li>
                  </ul>
        <div class="clear"></div>
    </section>
    <div class="clear"></div>
      <section id="blog" class="page-section">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="container">
            <div class="row">
                <div class="span12 page-heading">
                    <div class="section-heading"><span>Blogs & Stuff</span></div>
                </div>
            </div>
            <div class="row">
                <div class="span12 promo-txt">
                    <p>"imagine a world without strangers..."</p>
                    <span class="bottom-arrow"></span>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="blog-grid-wrap" id="blog_grid">
        <!--LOOP BEGINS-->
                <article class="blog-item">
                        <div class="blog-img-holder">
                <img width="328" height="247" src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/blog_01.jpg" class="post_thumbnail wp-post-image" alt="blog_01" />            </div>
            <div class="clear"></div>
                        <div class="blog-content-wrap">
                <h4><a href="http://designova.net/themes/wordpress/prisma/index.php/suspendisse-ut-quam-id-quam-vehicula-sollicitudin">Suspendisse ut quam id quam vehicula sollicitudin.</a></h4>
                <div class="blog-date">August 8, 2013</div>
                <p class="blog-txt"><p>Curabitur a euismod leo. Aliquam dictum, diam non vulputate aliquet, nibh nibh rutrum justo, quis interdum justo eros eget tellus. Aenean imperdiet vestibulum fringilla. Maecenas non congue eros, mollis malesuada odio. Etiam mi justo, scelerisque ac semper in, blandit ac ante. Quisque vitae erat dignissim, porttitor risus a, tristique elit. Lorem ipsum dolor sit amet, [&hellip;]</p>
</p>
                <a href="http://designova.net/themes/wordpress/prisma/index.php/suspendisse-ut-quam-id-quam-vehicula-sollicitudin" class="button-white">Read More</a>
                <div class="clear"></div>
            </div>
        </article>
                <article class="blog-item">
                        <div class="blog-img-holder">
                <img width="328" height="206" src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/blog_02.jpg" class="post_thumbnail wp-post-image" alt="blog_02" />            </div>
            <div class="clear"></div>
                        <div class="blog-content-wrap">
                <h4><a href="http://designova.net/themes/wordpress/prisma/index.php/nunc-porta-ac-mauris-a-mattis-integer-non-auctor-tellus">Nunc porta ac mauris a mattis. Integer non auctor tellus.</a></h4>
                <div class="blog-date">August 8, 2013</div>
                <p class="blog-txt"><p>Ut vel ligula rhoncus, viverra odio ac, tincidunt lorem. Nullam eget leo volutpat, viverra dolor at, mollis leo. Quisque massa ante, sagittis at gravida a, dapibus eget sem. Aliquam ultrices commodo laoreet. Nullam faucibus consectetur mauris, eget vulputate turpis porttitor vitae. Nullam vehicula id nibh vitae porttitor. Nullam orci felis, lobortis quis mauris ut, ultrices [&hellip;]</p>
</p>
                <a href="http://designova.net/themes/wordpress/prisma/index.php/nunc-porta-ac-mauris-a-mattis-integer-non-auctor-tellus" class="button-white">Read More</a>
                <div class="clear"></div>
            </div>
        </article>
                <article class="blog-item">
                        <div class="blog-img-holder">
                <img width="328" height="525" src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/blog_03.jpg" class="post_thumbnail wp-post-image" alt="blog_03" />            </div>
            <div class="clear"></div>
                        <div class="blog-content-wrap">
                <h4><a href="http://designova.net/themes/wordpress/prisma/index.php/aenean-aliquam-metus-neque-volutpat-fringilla-tellus-cursus-eget">Aenean aliquam metus neque, volutpat fringilla tellus cursus eget.</a></h4>
                <div class="blog-date">August 8, 2013</div>
                <p class="blog-txt"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet enim a diam eleifend fringilla eu in augue. Sed varius consectetur turpis vitae porta. Nam interdum a sem in vestibulum. Mauris eros purus, ultrices at augue nec, fringilla lobortis magna. Etiam et mi tincidunt mi scelerisque lobortis quis ut risus. Suspendisse ut quam id [&hellip;]</p>
</p>
                <a href="http://designova.net/themes/wordpress/prisma/index.php/aenean-aliquam-metus-neque-volutpat-fringilla-tellus-cursus-eget" class="button-white">Read More</a>
                <div class="clear"></div>
            </div>
        </article>
                <article class="blog-item">
                        <div class="blog-img-holder">
                <img width="328" height="394" src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/blog_04.jpg" class="post_thumbnail wp-post-image" alt="blog_04" />            </div>
            <div class="clear"></div>
                        <div class="blog-content-wrap">
                <h4><a href="http://designova.net/themes/wordpress/prisma/index.php/proin-nec-nisi-fermentum-porta-diam-sit-amet-rhoncus-orci">Proin nec nisi fermentum, porta diam sit amet, rhoncus orci.</a></h4>
                <div class="blog-date">August 8, 2013</div>
                <p class="blog-txt"><p>Donec pharetra odio id suscipit congue. Proin scelerisque laoreet metus ac vestibulum. Nulla erat felis, auctor ac pulvinar eget, porta nec risus. Maecenas vel lorem id dui lobortis tincidunt. Morbi posuere metus vel eros consectetur pharetra. Praesent volutpat turpis in ultricies gravida. Donec enim metus, pulvinar sed molestie aliquet, ultrices tristique nulla. Lorem ipsum dolor [&hellip;]</p>
</p>
                <a href="http://designova.net/themes/wordpress/prisma/index.php/proin-nec-nisi-fermentum-porta-diam-sit-amet-rhoncus-orci" class="button-white">Read More</a>
                <div class="clear"></div>
            </div>
        </article>
                <article class="blog-item">
                        <div class="blog-img-holder">
                <img width="328" height="243" src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/blog_05.jpg" class="post_thumbnail wp-post-image" alt="blog_05" />            </div>
            <div class="clear"></div>
                        <div class="blog-content-wrap">
                <h4><a href="http://designova.net/themes/wordpress/prisma/index.php/donec-pharetra-odio-id-suscipit-congue-proin-scelerisque">Donec pharetra odio id suscipit congue proin scelerisque.</a></h4>
                <div class="blog-date">August 8, 2013</div>
                <p class="blog-txt"><p>Vestibulum nec urna in sapien tempor venenatis porta nec dolor. Donec rhoncus cursus turpis, euismod accumsan nisi malesuada laoreet. Aenean dui quam, consectetur quis vestibulum ullamcorper, adipiscing sit amet mauris. Ut ac augue vel elit adipiscing malesuada. Integer facilisis mi ac elit facilisis, et ultrices dolor molestie. Cras congue tempus urna. In sodales quam in [&hellip;]</p>
</p>
                <a href="http://designova.net/themes/wordpress/prisma/index.php/donec-pharetra-odio-id-suscipit-congue-proin-scelerisque" class="button-white">Read More</a>
                <div class="clear"></div>
            </div>
        </article>
                <article class="blog-item">
                        <div class="blog-img-holder">
                <img width="328" height="467" src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/blog_06.jpg" class="post_thumbnail wp-post-image" alt="blog_06" />            </div>
            <div class="clear"></div>
                        <div class="blog-content-wrap">
                <h4><a href="http://designova.net/themes/wordpress/prisma/index.php/fusce-imperdiet-sem-nulla-sit-amet-congue-neque-imperdiet-ut">Fusce imperdiet sem nulla, sit amet congue neque imperdiet ut.</a></h4>
                <div class="blog-date">August 8, 2013</div>
                <p class="blog-txt"><p>Fusce imperdiet sem nulla, sit amet congue neque imperdiet ut. Morbi placerat laoreet erat quis fermentum. Suspendisse sed lorem sit amet arcu vulputate vehicula at ut elit. Aliquam suscipit gravida urna quis dapibus. Donec ac fermentum est, in congue ante. Nulla facilisi. Ut congue dui eget eros lacinia ultrices. Duis volutpat, turpis faucibus convallis vulputate, [&hellip;]</p>
</p>
                <a href="http://designova.net/themes/wordpress/prisma/index.php/fusce-imperdiet-sem-nulla-sit-amet-congue-neque-imperdiet-ut" class="button-white">Read More</a>
                <div class="clear"></div>
            </div>
        </article>
                <article class="blog-item">
                        <div class="blog-img-holder">
                <img width="328" height="247" src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/blog_07.jpg" class="post_thumbnail wp-post-image" alt="blog_07" />            </div>
            <div class="clear"></div>
                        <div class="blog-content-wrap">
                <h4><a href="http://designova.net/themes/wordpress/prisma/index.php/duis-volutpat-turpis-faucibus-convallis-vulputate">Duis volutpat, turpis faucibus convallis vulputate.</a></h4>
                <div class="blog-date">August 8, 2013</div>
                <p class="blog-txt"><p>Nulla consectetur viverra sollicitudin. Sed eu consectetur ante. Vivamus nibh eros, luctus ut felis id, pretium rutrum nibh. Cras venenatis orci velit, at porttitor ante laoreet quis. Aliquam eu porta neque. Duis at fermentum nisl. Vestibulum eget erat leo. Aliquam id sem ipsum. Aliquam ac viverra nunc. Ut vitae sapien orci. Morbi suscipit dictum risus [&hellip;]</p>
</p>
                <a href="http://designova.net/themes/wordpress/prisma/index.php/duis-volutpat-turpis-faucibus-convallis-vulputate" class="button-white">Read More</a>
                <div class="clear"></div>
            </div>
        </article>
                <article class="blog-item">
                        <div class="blog-img-holder">
                <img width="328" height="247" src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/blog_08.jpg" class="post_thumbnail wp-post-image" alt="blog_08" />            </div>
            <div class="clear"></div>
                        <div class="blog-content-wrap">
                <h4><a href="http://designova.net/themes/wordpress/prisma/index.php/vestibulum-eget-metus-quis-odio-lacinia-aliquet">Vestibulum eget metus quis odio lacinia aliquet.</a></h4>
                <div class="blog-date">August 8, 2013</div>
                <p class="blog-txt"><p>Vestibulum eget metus quis odio lacinia aliquet. In a eros ultricies, rhoncus erat ac, lacinia leo. Nunc quam turpis, mattis vel metus id, rhoncus ullamcorper felis. Nullam in luctus tortor, eget varius sem. In et dapibus nisl. Maecenas rutrum volutpat vulputate. Suspendisse vitae convallis nisi. Aliquam tempus vulputate magna, nec varius orci imperdiet at. Donec [&hellip;]</p>
</p>
                <a href="http://designova.net/themes/wordpress/prisma/index.php/vestibulum-eget-metus-quis-odio-lacinia-aliquet" class="button-white">Read More</a>
                <div class="clear"></div>
            </div>
        </article>
                <!--LOOP ENDS-->
      </div>
    </section>
    <div class="clear"></div>
   
    <div class="highlight-section pad-top-extra pad-bottom-extra">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <div class="section-heading">LET'S CONNECT!</div>
                            <div class="sub-title">Be Social</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span12 social-icons">
                                                          <a href="pixelglimpse" class="social-icon social-icon-facebook"></a>
                                                          <a href="designova.studio" class="social-icon social-icon-twitter"></a>
                                                          <a href="designova" class="social-icon social-icon-googleplus"></a>
                                                          <a href="designova" class="social-icon social-icon-dribble"></a>
                                                          <a href="http://pinterest.com/designovastudio" class="social-icon social-icon-pintrest"></a>
                                                          <a href="http://dribbble.com/designova" class="social-icon social-icon-linkedin" ></a>
                                                        
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
      
    <section id="contact" class="page-section">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="container">
                    <div class="row">
                        <div class="span12 page-heading">
                            <div class="section-heading"><span>Contact Us</span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span12 promo-txt">
                            <p>"the future is here, it's just not evenly distributed...yet..."</p>
                            <span class="bottom-arrow"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="map-wrap">
                          <span class="contact-email">mail@domain.tld</span>
                                      <span class="contact-number">+123 456 789</span>
                        
        </div>
        <div class="container-fluid contact-form">
            <div class="row-fluid">
                <div class="container">
                    <form name="myform" id="contactForm" action="http://designova.net/themes/wordpress/prisma/wp-content/themes/prisma/sendmail.php" enctype="multipart/form-data" method="post">
                        <input type="hidden" name="receiver" id="receiver" value="mail@domain.tld" />
                        <input type="hidden" id="subject" name="subject" value="Contact form submission from Prisma Creative"/>

                        <div class="row">
                            <div class="span12">
                                <div class="alert alert-error error" id="fname" style="display: none;">
                                  Name must not be empty
                                </div>
                                <div class="alert alert-error  error" id="fmail" style="display: none;">
                                  Please provide a valid email
                                </div>
                                <div class="alert alert-error  error" id="fmsg" style="display: none;">
                                  Message should not be empty
                                </div>
                                <div class="alert alert-info" id="infomsg" style="display: none;">
                                  Oops! Some thing went wrong!
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span6">
                                <textarea placeholder="Message" class="span12 cnt-input" id="msg" required="" name="message"></textarea>
                            </div>
                            <div class="span6">
                                <input type="text" placeholder="Name" id="name" name="name" size="16" required="" class="span12 txt-input cnt-input">
                                <div class="clear"></div>
                                <input type="email" placeholder="Email" id="email" name="email" size="16" required="" class="span12 txt-input cnt-input">
                                <div class="clear"></div>
                                <input class="btn button" id="submit" name="submit" type="submit" value="Send Message" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <div class="clear"></div>
    <!-- Dummy Button to trigger modal --> 
    <a href="#myModal" role="button" class="btn launch_modal hide" data-toggle="modal">Launch modal</a> 
    
    <!-- Modal -->
    <div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close modal_close_btn" data-dismiss="modal" aria-hidden="true">&times;</button>
            <div id="myModalLabel" class="heading"><h3 class="sub_heading">Thanks For Your Comment</h3></div>
        </div>
        <div class="modal-body">
            <p>Lorem ipsum dolor siter amet mundium corpes illon tolves lorem ipsum dolor. Quisque nec est id ante consectetur tristique. Suspendisse potenti.</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-inverse modal_close_btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
    
  
    

<footer>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="container">
                    <div class="row">
                        <div class="span3 foot-link">
                            <div class="heading">Send an Email</div>
                            <div class="clear"></div>
                            <span>Swag Out</span>
                            <div class="clear"></div>
                            <a href="http://www.designova.net" class="lsf"><img src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/mail_icon.png" alt="Prisma Creative" title="Prisma Creative"/></a>
                        </div>
                        <div class="span3 foot-link">
                            <div class="heading">Read Our Blog</div>
                            <div class="clear"></div>
                            <span>WHAT'S NEW?</span>
                            <div class="clear"></div>
                            <a href="http://www.designova.net" class="lsf"><img src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/blogger_icon.png" alt="Prisma Creative" title="Prisma Creative"/></a>
                        </div>
                        <div class="span3 foot-link">
                            <div class="heading">Follow on Twitter</div>
                            <div class="clear"></div>
                            <span>GET THE LATEST</span>
                            <div class="clear"></div>
                            <a href="http://www.designova.net" class="lsf"><img src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/twitter_icon.png" alt="Prisma Creative" title="Prisma Creative"/></a>
                        </div>
                        <div class="span3 foot-link">
                            <div class="heading">Like on Facebook</div>
                            <div class="clear"></div>
                            <span>KEEP IN TOUCH</span>
                            <div class="clear"></div>
                            <a href="http://www.designova.net" class="lsf"><img src="http://designova.net/themes/wordpress/prisma/wp-content/uploads/2013/08/facebook_icon.png" alt="Prisma Creative" title="Prisma Creative"/></a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </footer>
        
    <div class="clear"></div>
        
    <div class="credits"> 2013 PRISMA PREMIUM THEME BY DESIGNOVA</div>


    
    <div id="dynamic-style"></div>
    <div class="hidden" id="slider_images">
        </div>
	<script type='text/javascript' src='http://designova.net/themes/wordpress/prisma/wp-content/themes/prisma/js/bootstrap.min.js?ver=3.6'></script>
<script type='text/javascript' src='http://designova.net/themes/wordpress/prisma/wp-content/themes/prisma/js/modernizr-1.7.min.js?ver=3.6'></script>
<script type='text/javascript' src='http://designova.net/themes/wordpress/prisma/wp-content/themes/prisma/js/modernizr.custom.js?ver=3.6'></script>
<script type='text/javascript' src='http://designova.net/themes/wordpress/prisma/wp-content/themes/prisma/js/jquery.easing.1.3.js?ver=3.6'></script>
<script type='text/javascript' src='http://designova.net/themes/wordpress/prisma/wp-content/themes/prisma/js/waypoints.min.js?ver=3.6'></script>
<script type='text/javascript' src='http://designova.net/themes/wordpress/prisma/wp-content/themes/prisma/js/jquery.backstretch.min.js?ver=3.6'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var slides = ["http:\/\/designova.net\/themes\/wordpress\/prisma\/wp-content\/uploads\/2013\/08\/bg1.jpg","http:\/\/designova.net\/themes\/wordpress\/prisma\/wp-content\/uploads\/2013\/08\/bg2.jpg","http:\/\/designova.net\/themes\/wordpress\/prisma\/wp-content\/uploads\/2013\/08\/bg5.jpg"];
/* ]]> */
</script>
<script type='text/javascript' src='http://designova.net/themes/wordpress/prisma/wp-content/themes/prisma/js/invoke-backstretch.js?ver=3.6'></script>
<script type='text/javascript' src='http://designova.net/themes/wordpress/prisma/wp-content/themes/prisma/js/jquery.iconmenu.js?ver=3.6'></script>
<script type='text/javascript' src='http://designova.net/themes/wordpress/prisma/wp-content/themes/prisma/js/html5.js?ver=3.6'></script>
<script type='text/javascript' src='http://designova.net/themes/wordpress/prisma/wp-content/themes/prisma/js/excanvas.js?ver=3.6'></script>
<script type='text/javascript' src='http://designova.net/themes/wordpress/prisma/wp-content/themes/prisma/js/jquery.easy-pie-chart.js?ver=3.6'></script>
<script type='text/javascript' src='http://designova.net/themes/wordpress/prisma/wp-content/themes/prisma/fancybox/jquery.fancybox.js?ver=3.6'></script>
<script type='text/javascript' src='http://designova.net/themes/wordpress/prisma/wp-content/themes/prisma/js/masonry.pkgd.min.js?ver=3.6'></script>
<script type='text/javascript' src='http://designova.net/themes/wordpress/prisma/wp-content/themes/prisma/js/form-validation.js?ver=3.6'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var map_link = "https:\/\/maps.google.co.in\/maps?hl=en&ie=UTF8&ll=48.870361,2.339745&spn=0.122623,0.338173&hnear=Paris,+%C3%8Ele-de-France,+France&t=m&z=12";
/* ]]> */
</script>
<script type='text/javascript' src='http://designova.net/themes/wordpress/prisma/wp-content/themes/prisma/js/map-init.js?ver=3.6'></script>
<script type='text/javascript' src='http://designova.net/themes/wordpress/prisma/wp-content/themes/prisma/js/script.js?ver=3.6'></script>
	
	

	
</body>