<header class="navbar navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' classNames="navbar-brand"}}Alooksie{{/link-to}}
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
		<ul class="nav navbar-nav">
			<li>{{#link-to 'messages.new'}}<i class="icon-edit"></i> New Post{{/link-to}}</li>
      <li>{{#link-to 'userhashtags.filter'}}Filters{{/link-to}}</li>
		</ul>
		<ul class="nav navbar-nav pull-right">
      {{#if App.currentUser}}
      <li>{{#link-to 'user' App.currentUser}}<i class="icon-user"></i> Me{{/link-to}}</li>
      <li><a class="logout" href="/logout"><i class="icon-signout"></i> Logout</a></li>
      {{else}}
			<li><a class="login" href="/auth/facebook"><i class="icon-facebook-sign"></i> Login</a></li>
      {{/if}}
		</ul>
    </nav>
  </div>
</header>