<div class="messages">
  {{#each message in controller}}
    {{render "message" message}}
  {{/each}}
</div>
<div>
 {{#if controllers.currentUser.isSignedIn}}
 UserID:  {{controllers.currentUser.id}}
 {{else}}
 Not logged in
{{/if}}