<form role="form">
  <fieldset>
    <div class="form-group">
      <label {{bindAttr for="contentField.field_id"}}>Content</label>
      {{view Ember.TextField valueBinding='content' class='form-control' name='content' viewName='contentField'}}
    </div>
    <a {{action save}} class='btn btn-success'>Submit</a>
  </fieldset>
</form>
