<h2> Sent </h2>

<% @sent_messages.each do |message| %>
	  <p><% if (message.receiver_id)
	  		 if !message.anonymous && message.reply && hideName?(message.reply) %>
      			<i>User is Veiled</i>
      		<%else
      				@senderName = getSenderName(message.receiver_id) %>
      				<%= link_to @senderName, user_path(message.receiver_id) %>
      		<% end
      	end %>
      	<br>
	 <%= message.content %></p>
<%end%>