<div class="messages">
  {{#each userhashtag in controller}}
  	{{#if userhashtag.name}}
    	{{userhashtag.name}} <button class="btn btn-dancer">Remove</button><br>
    {{/if}}
  {{/each}}
 {{#link-to 'userhashtags.new'}} Add Hashtag{{/link-to}}
</div>
{{outlet}}