<label for="addTag">Add Tracked Tag</label>
<div class="input-group">
	{{view Ember.TextField valueBinding='name' class='form-control' name='addTag' tagName='input'}}
	<div class="input-group-btn">
		<button type="submit" {{action "save"}} class="btn btn-success btn-small"><i class="icon-plus-sign"></i></button>
	</div>
</div>
