body{
background-image: -ms-linear-gradient(bottom right, #DBDBDB 0%, #330363 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom right, #DBDBDB 0%, #330363 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom right, #DBDBDB 0%, #330363 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #DBDBDB), color-stop(1, #330363));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom right, #DBDBDB 0%, #330363 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top left, #DBDBDB 0%, #330363 100%);
}
html,body{
margin: 0;
width: 100%;
height: 100%;


 }
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}